version: '3'
services:
  jenkins:
    build:
      context: ./
    container_name: jenkins
    hostname: jenkins
    environment:
      #JAVA_OPTS: "-Xmx512m -Xms512m"
      JAVA_OPTS: "-Djava.awt.headless=true"
    ports:
      - '8080:8080'
      - '50000:50000'
    volumes:
      # mkdir -p ./data/jenkins_home ./data/data  && chmod 777 ./data/jenkins_home && umask 0002
      - ./data/jenkins_home:/var/jenkins_home
      - ./data/data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      # mac use - /usr/local/bin/docker:/usr/bin/docker
      - /usr/bin/docker:/usr/bin/docker 
    #restart: always
    restart: unless-stopped  #上一次的狀態
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
