## 使用 docker-compose build --build-arg DockerID=$(cat /etc/group|grep docker|cut -d':' -f3)
version: '3'
services:
  jenkins:
    image: ${IMAGE}
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: jenkins
    hostname: jenkins
    ports:
      - ${WEB_PORT}:8080
      - ${AGENT_PORT}:50000
    volumes:
      # mkdir -p data/jenkins_home/data && touch data/jenkins_home/copy_reference_file.log
      - ./data/jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      JAVA_OPTS: "-Djava.awt.headless=true -server -Xms1024m -Xmx2048m -XX:PermSize=512m -XX:MaxPermSize=1024m"
      JENKINS_ADMIN_ID: ${JENKINS_ADMIN_ID}
      JENKINS_ADMIN_PW: ${JENKINS_ADMIN_PW}
      JENKINS_MODE: master
    restart: unless-stopped
    # network_mode default is bridge
    #network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
