## 使用 docker-compose build --build-arg DockerID=$(cat /etc/group|grep docker|cut -d':' -f3)
version: '3'
services:
  jenkins:
    build:
      context: ./
      dockerfile: Dockerfile.ubuntu18
    container_name: jenkins
    hostname: jenkins
    ports:
      - '8080:8080'
      - '50000:50000'
    volumes:
      # mkdir -p data/jenkins_home/data && touch data/jenkins_home/copy_reference_file.log
      - ./data/jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      JAVA_OPTS: "-Djava.awt.headless=true"
      JENKINS_ADMIN_ID: ${JENKINS_ADMIN_ID}
      JENKINS_ADMIN_PW: ${JENKINS_ADMIN_PW}
      JENKINS_MODE: master
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
